<div class="main-wrapper">
  <div class="page-wrapper">
    <h2 class="bmw-h2">
      {{ title }}
    </h2>
    <div class="action-area">
      <div class="search-group">
        <div class="form-outline">
          <input type="search" id="search-input" class="search-input" />
          <label class="form-label" for="search-input">Search</label>
        </div>
        <button class="btn btn-primary">
          Search
        </button>
      </div>
      <button class="btn btn-primary create-btn" (click)="openOrRouting()">
        Add
      </button>
    </div>
    <div class="table-wrapper ">
      <ag-grid-angular
        style="width: 500px; height: 500px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [rowBuffer]="runtimeCompilerData.rowBuffer"
        [gridOptions]="runtimeCompilerData.gridOptions"
        [defaultColDef]="runtimeCompilerData.defaultColDef"
        [rowModelType]="runtimeCompilerData.rowModelType"
        [paginationPageSize]="runtimeCompilerData.paginationPageSize"
        [cacheOverflowSize]="runtimeCompilerData.cacheOverflowSize"
        [maxConcurrentDatasourceRequests]="runtimeCompilerData.maxConcurrentDatasourceRequests"
        [infiniteInitialRowCount]="runtimeCompilerData.infiniteInitialRowCount"
        [maxBlocksInCache]="runtimeCompilerData.maxBlocksInCache"
        [getRowNodeId]="getRowNodeId"
        [sideBar]="runtimeCompilerData.sideBar"
        (firstDataRendered)="onFirstDataRendered($event)"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
<div [dynamicForm]="crudBehaviour.modalSelector" *ngIf="crudBehaviour.modalSelector"></div>

